// {
//   "extends": [
//       "airbnb",
//       "airbnb/hooks"
//   ],
//   "env": {
//     "browser": true
//   },
//   "settings": {
//     "import/resolver": {
//         "babel-module": {}
//    }
//   }
// }
